<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>h</string>
      <string>m</string>
      <string>n</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>e</string>
      <string>o</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
    </array>
    <key>public.kern2._empty_lu.0_st.1_cl.0</key>
    <array/>
    <key>public.kern2.c</key>
    <array>
      <string>c</string>
      <string>e</string>
      <string>o</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>y</string>
    </array>
  </dict>
</plist>
