<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-60</integer>
      <key>U</key>
      <integer>-24</integer>
      <key>V</key>
      <integer>-72</integer>
      <key>Y</key>
      <integer>-36</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>T</key>
      <integer>-36</integer>
      <key>Y</key>
      <integer>-24</integer>
      <key>Z</key>
      <integer>-24</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>T</key>
      <integer>-36</integer>
      <key>Y</key>
      <integer>-24</integer>
      <key>Z</key>
      <integer>-24</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>C</key>
      <integer>-48</integer>
      <key>G</key>
      <integer>-48</integer>
      <key>O</key>
      <integer>-48</integer>
      <key>Q</key>
      <integer>-48</integer>
      <key>T</key>
      <integer>-72</integer>
      <key>U</key>
      <integer>-24</integer>
      <key>Y</key>
      <integer>-84</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>T</key>
      <integer>-36</integer>
      <key>Y</key>
      <integer>-24</integer>
      <key>Z</key>
      <integer>-24</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>c</key>
      <integer>-36</integer>
      <key>e</key>
      <integer>-36</integer>
      <key>o</key>
      <integer>-36</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>C</key>
      <integer>-36</integer>
      <key>G</key>
      <integer>-36</integer>
      <key>O</key>
      <integer>-36</integer>
      <key>Q</key>
      <integer>-36</integer>
      <key>a</key>
      <integer>-96</integer>
      <key>c</key>
      <integer>-108</integer>
      <key>e</key>
      <integer>-108</integer>
      <key>o</key>
      <integer>-108</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>A</key>
      <integer>-24</integer>
      <key>J</key>
      <integer>-12</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-72</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-36</integer>
      <key>C</key>
      <integer>-24</integer>
      <key>G</key>
      <integer>-24</integer>
      <key>O</key>
      <integer>-24</integer>
      <key>Q</key>
      <integer>-24</integer>
      <key>comma</key>
      <integer>-84</integer>
      <key>period</key>
      <integer>-84</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>C</key>
      <integer>-24</integer>
      <key>G</key>
      <integer>-24</integer>
      <key>O</key>
      <integer>-24</integer>
      <key>Q</key>
      <integer>-24</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>t</key>
      <integer>-36</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>Y</key>
      <integer>-84</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>a</key>
      <integer>-35</integer>
      <key>c</key>
      <integer>-28</integer>
      <key>d</key>
      <integer>-21</integer>
      <key>e</key>
      <integer>-28</integer>
      <key>g</key>
      <integer>-21</integer>
      <key>o</key>
      <integer>-28</integer>
      <key>q</key>
      <integer>-21</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>t</key>
      <integer>-36</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>c</key>
      <integer>-28</integer>
      <key>e</key>
      <integer>-28</integer>
      <key>o</key>
      <integer>-28</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>t</key>
      <integer>-36</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>t</key>
      <integer>-36</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>Y</key>
      <integer>-84</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-21</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-21</integer>
      <key>public.kern2.v</key>
      <integer>-28</integer>
    </dict>
    <key>public.kern1.comma</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-21</integer>
      <key>public.kern2.v</key>
      <integer>-64</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-28</integer>
      <key>public.kern2.comma</key>
      <integer>-64</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>c</key>
      <integer>-24</integer>
      <key>comma</key>
      <integer>-84</integer>
      <key>d</key>
      <integer>-12</integer>
      <key>e</key>
      <integer>-24</integer>
      <key>g</key>
      <integer>-12</integer>
      <key>o</key>
      <integer>-28</integer>
      <key>period</key>
      <integer>-84</integer>
      <key>q</key>
      <integer>-12</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>t</key>
      <integer>-21</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>four</key>
      <integer>-84</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>c</key>
      <integer>-24</integer>
      <key>e</key>
      <integer>-24</integer>
      <key>o</key>
      <integer>-24</integer>
      <key>v</key>
      <integer>0</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>a</key>
      <integer>-28</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>a</key>
      <integer>-28</integer>
    </dict>
  </dict>
</plist>
